body, html{
    background-color:#FDF0D5;
    font-family: "Baumans";
}
.barra{
    background: rgb(253,240,213);
    background: radial-gradient(circle, rgba(253,240,213,1) 33%, rgba(120,0,0,0.8155637254901961) 66%);
    text-align: center;
    padding: 8px;
}
nav ul li {
    display: inline;
    color: #780000;
    font-size: 24px;
    padding: 20px
}
a{
    text-decoration: none;
}
h2{
    color: #780000;
    font-size: 30px;
    text-align: center;
    text-decoration: underline;
}
div.galeria {
    border: 1px solid #780000;
    }
    div.galeria:hover {
    border: 3px solid #780000;
    }
    div.galeria img {
    width: 100%;
    height: auto;
    }
    div.desc {
    padding: 10px;
    text-align: center;
    }
  *{
      box-sizing: border-box;
      }
    .responsive {
    padding: 0 6px;
    float: left;
    width: 25%;
    }
    .clearfix:after {
    content: "";
    display: inline;
    }
    .container {
      border: 2px solid #780000;
      background-color: #eee;
      border-radius: 5px;
      padding: 16px;
      margin: 20px 10%;
    }
    .container::after {
      content: "";
      clear: both;
      display: table;
    }
    .container img {
      float: left;
      margin-right: 20px;
      border-radius: 50%;
    }
    .container span {
      font-size: 20px;
      margin-right: 15px;
    }
    @media (max-width: 500px) {
      .container {
          text-align: center;
      }
      .container img {
          margin: auto;
          float: none;
          display: block;
      }
    }
    .footer {
      position:absolute;
      background-color: #780000;
      color: #FDF0D5;
      text-align: center;
      height: auto;
      width: 100%;
    }